.option {
    margin-bottom: 100px; 
  }
  
  .createPage {
    display: flex;
    width: 100%;
  }
  
  .createBox {
    width: 20%;
    border: 1px solid black;
    margin-right: 10px;
  }
  
  .libraryBox {
    flex: 1;
    width: 80%;
    border: 1px solid black;
    margin-left: 10px;
  }
  